{
    "presets":["react",["env",{
        "modules": false,
        "useBuiltIns": true,
        "loose": true
    }]],
    "plugins": [
        "transform-decorators-legacy",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
}