{
    "presets":["react",["env",{
        "modules":false,
        "loose":true,
        "useBuiltIns":true
    }]],
    "plugins": [
        "transform-decorators-legacy",
        "syntax-dynamic-import"
      ]
}